.photo-details-exif {
    &__camera-icon {
        &.material-icons {
            font-size: 3rem;
        }
    }

    &__icon {
        color: gray;
        padding-right: 1rem;

        &.material-icons {
            font-size: 2rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        flex: 0 1 calc(40% - 1rem);
    }

    &__specs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 7rem;
    }

    &__maker {
        display: flex;
        align-items: center;
    }
}
