.endouble-react-assignment {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 90rem;
    overflow: hidden;

    &__header {
        text-align: center;
    }

    &__header-text {
        margin: 0;
    }
}
