.button {
    background-color: #1ABC9C;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 19px;
    position: relative;
    transition-property: background, color;

    &:active {
        background: #16A085;
        border-color: #16A085;
    }
}
