.photo-details {
    padding: 2rem;
    padding-top: 0;

    &__description {
        display: block;
        font-style: italic;
        padding-top: 1rem;
    }

    &__image {
        object-fit: scale-down;
    }

    &__image-container {
        display: flex;
        justify-content: center;
        max-height: 300px;
        overflow: auto;
    }

    &__photographer {
        color: black;
        text-decoration: none;
        font-weight: bolder;
        font-size: 18px;
    }

    &__separator {
        margin: 1rem;
    }
}
