/**
 * Class used to share code between two classes,
 * specifically to expand the modal size to fullscreen.
 * This class will be deleted in transpilation time and
 * will replace the "class" name with the code within this block.
 */
%fullscreen {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.modal {
    @extend %fullscreen;
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 40;

    &--visible {
        display: flex;
    }

    &__background {
        @extend %fullscreen;
        background-color: rgba(10,10,10,.86);
        position: absolute;
    }

    &__box {
        background-color: white;
        border-radius: 10px;
        min-height: 200px;
    }

    &__close-icon {
        cursor: pointer;
    }

    &__content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px;
        position: relative;
    }

    &__content-header {
        padding-right: 1rem;
        padding-top: 1rem;
        text-align: right;
    }
}
