.photo-list {
    height: 100%;
    margin-top: 1rem;
    overflow-x: auto;
    padding: 0 4rem;
    padding-bottom: 1rem;

    &__footer {
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 1rem;
        padding-bottom: 1rem;
    }
}
