.photo-card {
    border-radius: 5%;
    border: #D9D9D9 1px solid;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
    position: relative;

    &:hover {
        border: #7D7D7D 1px solid;
        opacity: 0.5;
    }

    &__caption {
        color: white;
        display: block;
        text-align: center;
    }

    &__thumbnail-container {
        display: block;
        height: 150px;
        width: 100%;
    }

    &__thumbnail {
        height: 100%;
        object-fit: scale-down;
        width: 100%;
    }

    &__footer {
        background-color: black;
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content: flex-end;
        left: 0;
        opacity: 0.8;
        padding: 0.5rem;
        position: absolute;
        right: 0;
    }
}
